/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF MYERS RESET */

.home-nav-bar {
  background-color: black;
  padding: 20px 20px;
}

.home-nav-bar li{
  display: inline;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 10px;
  /* top: 0px;
  transition: top ease 0.5s;
  position: relative; */
  color: white;
}
.home-nav-bar li:hover{
  display: inline;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  top: -10px;
  cursor: pointer;
  /* box-shadow: 20px 20px 30px -10px #192824; */
  font-weight: bold;
  color: rgb(168, 168, 163)

}

.banner {
  background-color: white;
  /* background-size: cover; */
  height: 400px;
  width: 100%;
}

.banner-text{
  font-family: sans-serif;
  font-size: 100px;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 80px;
  letter-spacing: 10px;
  padding-top:100px;
}

.person-image {
  height: 300px;
  width: 300px;
  border-radius: 200px;
  margin: 30px 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border: 6px white solid;
  top: 0px;
  transition: top ease 0.5s;
  position: relative;
}

.person-image:hover {
  top: -10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px -10px #192824;
}

.people {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  text-align: center;
}

body {
  /* margin: 20px 20px; */
  background-image: linear-gradient(#edd1b5, #f9f5eb, #f5dbc1);
  /* background-image: url("https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"); */
  background-size: cover;
}

.person-card {
  text-align: center;
}

.person-card h1 {
  font-size: 20px;
  letter-spacing: 3px;
}

.nav-bar {
  background-color: black;
  font-size: 20px;
  /* padding-bottom: 200px; */
  /* height: 80px; */
  padding: 20px 20px;
}

.home-link a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.home-link a:hover {
  color: rgb(168, 168, 163);
  font-weight: bold;
}

.details-banner {
  background-image: url("https://images.unsplash.com/photo-1591155426209-23831d47700d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80");
  height: 400px;
  background-size: cover;
  margin: 0px 0px;
  padding: 0px 0px;
}

.details {

  display: block;
  overflow: auto;
  background-color: white;
  /* padding: 20px 20px; */
  font-family: sans-serif;
  font-size: 20px;
}

h1.label{
  z-index: 2;
  position: absolute;
  font-size: 35px;
  margin-left: 60px;
  /* padding-bottom: 20px; */
  background-color: white;
  border: 2px rgb(83, 81, 81) solid;
  padding: 5px 5px;
  transform: rotate(-5deg);
}

.aftermath-label {
  z-index: 2;
  position: absolute;
  font-size: 35px;
  /* padding-bottom: 20px; */
  background-color: white;
  border: 2px rgb(83, 81, 81) solid;
  padding: 5px 5px;
  transform: rotate(5deg);
  width: 250px;
  height: 35px;
  margin-top: 500px;
  margin-left: 1100px;
  text-align: center;
  float: right;
}

.details-name {
  /* font-family: sans-serif; */
  font-family: cursive;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.details-birthdate, .details-deathdate {
  text-align: center;
  margin: 10px 40px;
}

.details-details {
  min-height: 5em;
  max-height: 400px;
  width: 800px;
  /* display: block;
  overflow: auto; */
  overflow: scroll;
  padding: 1em 4em;
  padding-top: 40px;
  font: 1em/150% sans-serif;
  position  : relative;
  background-color: rgb(168, 168, 163);
  float: left;
  margin-bottom: 40px;
  margin: 20px 40px;
  z-index: 1;
}

.details-details::before,
.details-details::after {
  position: absolute;
  height  : 3rem;
  font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
}

.details-details::before {
  content: '«';
  top    : 0.3rem;
  left   : 0.9rem;
}

.details-details::after {
  content: '»';
  bottom : 0.3rem;
  right  : 0.8rem;
}

.details-aftermath i {
  display   : block;
  font-size : 0.8em;
  margin-top: 1rem;
  text-style: italic;
  text-align: right;
}

.details-aftermath {
  min-height: 5em;
  width: 800px;
  max-height: 400px;
  display: block;
  overflow: scroll;
  padding   : 1em 4em;
  font      : 1em/150% sans-serif;
  position  : relative;
  background-color: rgb(168, 168, 163);
  float: right;
  margin: 20px 40px;
  z-index: 1;
  padding-top: 40px;
}

.details-aftermath::before,
.details-aftermath::after {
  position: absolute;
  height  : 3rem;
  font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
}

.details-aftermath::before {
  content: '«';
  top    : 0.3rem;
  left   : 0.9rem;
}

.details-aftermath::after {
  content: '»';
  bottom : 0.3rem;
  right  : 0.8rem;
}

.details-aftermath i {
  display   : block;
  font-size : 0.8em;
  margin-top: 1rem;
  text-style: italic;
  text-align: right;
}

/* .details-age {
  font-size: 60px;
  padding-top: 200px;
} */